@use "scss/base";
@use "scss/components";
@use "scss/layout";
@use "scss/pages";
* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    background-color: #212121;
}

.hide {
    display: none;
}