body {
  vertical-align: middle;
  margin: 0 auto;
}

.carbon_header_div {
  margin: 0 auto;
}

  #carbon_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5vw;
    margin: 0 auto;
    margin-left: 11vw;
    margin-right: 11vw;
   
  }

  .h1_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 185px;
    margin-bottom: 70px;
  }

  .header_text {
    width: 45vw;
  }

  .header_icon {
    width: 18vw;
  }

  
  