

  #carbon_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 11vw;
    margin-right: 11vw;
    gap: 5vw;
   
  }

  .h1_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 70px;
  }

  .header_text {
    width: 45vw;
  }

  .header_icon {
    width: 18vw;
  }

  
  