.btn {
    background-color: #595959;
    border: none;
    padding: 1rem 2rem;
    color: #ffffff;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 500;
    font-size: 1.1rem;
    margin-top: 25px;
    border-radius: 4px
}


.btn:hover {
    background-color: hotpink;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    color: #ffffff;
    font-weight: 600;
}
