
#loading_icon {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 2;
}


#loader {
    width: 10vw;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -50px 0px 0px -50px;
    animation: spin 2s linear infinite;
    background-color: transparent;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}