h1 {
    font-family: 'Gothic A1', sans-serif;
    font-size: 2.369rem;
    font-weight: 900;
}

h2 {
    font-family: 'Gothic A1', sans-serif;
    font-size: 1.777rem;
    font-weight: 800;
}

h3 {
    font-family: 'Gothic A1', sans-serif;
   font-size: 1.333rem; 
   font-weight: 700;
}

p {
font-family: 'Gothic A1', sans-serif;
font-size: 1rem;
font-weight: 500;
}

a {
    font-family: 'Gothic A1', sans-serif;
    font-size: 1rem;
    font-weight: 500; 
}

label {
    font-family: 'Gothic A1', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    }

#industryfield {
    font-family: 'Gothic A1', sans-serif;
    font-size: 1rem;
    font-weight: 500; 
}

#monthlyvisitors {
    font-family: 'Gothic A1', sans-serif;
    font-size: 1rem;
    font-weight: 500; 
}


input {
    font-family: 'Gothic A1', sans-serif;
    font-size: 1rem;
    font-weight: 500; 
}

