h1 {
    font-family: 'Gothic A1', sans-serif;
    font-size: 3.369rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 25px;
    line-height: 3.8rem;
}

h2 {
    font-family: 'Gothic A1', sans-serif;
    font-size: 1.777rem;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 25px;
}

h3 {
    font-family: 'Gothic A1', sans-serif;
   font-size: 1.333rem; 
   font-weight: 600;
   color: #ffffff;
   margin-bottom: 15px;
}

p {
font-family: 'Gothic A1', sans-serif;
font-size: 1rem;
font-weight: 400;
color: #ffffff;
line-height: 1.4rem;
}

a {
    font-family: 'Gothic A1', sans-serif;
    font-size: 1rem;
    font-weight: 400; 
    color: #ffffff;
}

label {
    font-family: 'Gothic A1', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    align-items: center;
    display: flex;
    }

#industryfield {
    font-family: 'Gothic A1', sans-serif;
    font-size: 1rem;
    font-weight: 400; 
    color: #ffffff;
}

#monthlyvisitors {
    font-family: 'Gothic A1', sans-serif;
    font-size: 1rem;
    font-weight: 400; 
    color: #ffffff;
}


input {
    font-family: 'Gothic A1', sans-serif;
    font-size: 1rem;
    font-weight: 400; 
    color: #ffffff;
}

